.board {
  perspective-origin: 75% 110%;
  perspective: 200em;
  flex: 1;
  display: grid;
  max-width: 80vmin;
  max-height: 80vmin;
  grid-template-rows: repeat(var(--board-rows), 1fr);
  grid-template-columns: repeat(var(--board-columns), 1fr);
  margin: 0 auto;
}
