.board {
  --font-size-horizontal: calc(50vw / (var(--board-columns) * var(--tile-width-base)));
  --font-size-vertical: calc(50vh / (var(--board-rows) * var(--tile-height-base)));

  font-size: min(var(--font-size-horizontal), var(--font-size-vertical));


  flex: 1;
  display: grid;
  max-width: 80vmin;
  max-height: 80vmin;
  grid-template-rows: repeat(var(--board-rows), 1fr);
  grid-template-columns: repeat(var(--board-columns), 1fr);
  margin: 0 auto;
}
