.tile {
  --3d-bg-color: hsl(var(--tile-color-hue,0),calc(1%*var(--tile-color-saturation, 0)),calc(var(--highlighted, 0)*50% + 1%*var(--tile-color-lightness)));
  --3d-bg-color-inverted: hsl(var(--tile-color-hue,0),calc(1%*var(--tile-color-saturation, 0)),calc((1 - var(--highlighted, 0))*50% + 1%*var(--tile-color-lightness)));
  box-shadow: inset 0 0 calc(var(--tile-width)*.05) var(--3d-bg-color-inverted);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-end: span 2;
  grid-row-end: span 2;
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--tile-width)*var(--z, 0)));
  grid-row-start: var(--y);
  grid-column-start: var(--x);
  aspect-ratio: var(--tile-width-base) / var(--tile-height-base);
  background: hsl(
    var(--tile-color-hue, 0),
    calc(1% * var(--tile-color-saturation, 0)),
    calc(var(--highlighted, 0) * 50% + calc(1% * var(--tile-color-lightness)))
  );
  user-select: none;
  border-radius: 1px;
}

.tile,
.tile:before,
.tile:after {
  border: calc(0.01 * var(--tile-width)) solid hsl(var(--tile-color-hue,0),calc(1%*var(--tile-color-saturation, 0)),calc(50% + 1%*var(--tile-color-lightness)));
}

.tile:before,
.tile:after {
    border-radius: 1px;
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--3d-bg-color);
    box-sizing: border-box;
}

.tile:before {
    transform-origin: right;
    transform: rotateY(90deg) translateX(100%);
}

.tile:after {
    transform-origin: bottom;
    transform: rotateX(90deg);
}

.tile svg {
  filter: url("#naturalShadow");
}
